button {
    display: flex;
    justify-content: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 0.9rem;
    text-align: initial;
    padding: 0.45rem;
    border: transparent;
    background: transparent;
    cursor: pointer;
}


/*BOTONE POR DEFAULT*/

.botn-group {
    overflow: hidden;
    margin: 0 auto;
    padding: 0.5em;
}

.botn {
    display: flex;
    justify-content: center;
    height: 35px;
    width: 120px;
    line-height: 17px;
    margin-left: 0;
    margin-right: 0;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}


.botn-block {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 35px;   
    border-radius:7px ;    
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    -ms-border-radius: 7px;
    -o-border-radius: 7px;
;
}

.botn-rd-25 {
    border-radius: 25px !important;
    -webkit-border-radius: 25px !important;
    -moz-border-radius: 25px !important;
    -ms-border-radius: 25px !important;
    -o-border-radius: 25px !important;
}




.botn-block:focus {
    display: block;
    width: 100%;
    border: 3px solid #bebcbcc0;
    background: #f7eeee;
    /*COLOR POR DEFAULT*/
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.btn-green {
    background: #75d485;
}

.btn-special:hover{
    box-shadow:0px 0px 20px rgba(0, 0, 0, 0.418);
    transform: scale(0.99);
    transition: all 500ms;

}


.btn-green:focus-visible {
    background: #d47575 !important;

    border: 10px solid #32663b !important;
}


/*en el focus  quiero que mantega sin hover */


/**/

.btn-orange {
    background: #ff9822;
}

.btn-orange:focus {
    background: #e07902 !important;
    border: 2px solid #854701;
}


/*botones blue*/

.btn-blue {
    background: #339be0;
}


.btn-blue:focus {
    background: #246c9c !important;
    border: 2px solid #275879;
}