input[type="text"],
input[type="email"],
input[type="password"],
input[type="tel"],
input[type="time"],
input[type="number"],
input[type="search"]
{
    max-width: 375px;
    width: 100%;
    padding: 5px;
    margin: 5px;
    color: gray;
    border-radius: 15px;
    border: 1px solid #dddddd;
    line-height: 15px;
}


input[type="search"]{
    padding-left: 20px;
    appearance: searchfield;
    -moz-appearance: searchfield;
    -webkit-appearance: searchfield;

}


/**/

input {
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    appearance: none;
    display: inline-block;
    vertical-align: middle;
}

input[type="checkbox"] {
    border: 1px solid #888888;;
    width: 15px;
    height: 15px;
    outline: none;
    padding: 3px;
}
input[type="checkbox"]:checked {
    background:#888888;
    background-clip: content-box;
}
input[type="radio"] {
    border: 1px solid #888888;
    border-radius: 10px;
    width: 15px;
    height: 15px;
    outline: none;
    padding: 3px;
}
input[type="radio"]:checked {
    background: #888888;
    background-clip: content-box;
}
select{
height: 20px;
border: 1px solid red;
width: 200px;
border-radius: 15px;
appearance: none;
-webkit-appearance: none;
-moz-appearance: none;
-ms-appearance: none;
background: transparent;

}
select:focus{ outline: none;}
option{
    background: rgb(255, 253, 253);
    border: 2px solid blue;
    color:gray;
}