button {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.5rem;
    text-align: initial;
    padding: 0.45rem;
    border: transparent;
    background: transparent;
    cursor: pointer;
}


/*BOTONE POR DEFAULT*/

.botn-group {
    overflow: hidden;
    margin: 0 auto;
    padding: 0.5em;
}

.botn {
    display: block;
    height: 45px;
    width: 250px;
    margin-left: 0;
    margin-right: 0;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.botn-block {
    display: block;
    width: 100%;
    border: 1px solid transparent;
    background: #f7eeee;
    /*COLOR POR DEFAULT*/
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.botn-rd-25 {
    border-radius: 25px !important;
    -webkit-border-radius: 25px !important;
    -moz-border-radius: 25px !important;
    -ms-border-radius: 25px !important;
    -o-border-radius: 25px !important;
}

.botn-block:hover {
    border: 2px solid #dad7d7;
    background: #f5ebeb;
    /*COLOR POR DEFAULT*/
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.botn-block:focus {
    display: block;
    width: 100%;
    border: 3px solid #bebcbcc0;
    background: #f7eeee;
    /*COLOR POR DEFAULT*/
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.btn-green {
    background: #75d485;
}

.btn-green:hover {
    box-sizing: border-box;
    background: #69bb7a !important;
    border: 2px solid #32663b !important;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    transition: all 500ms ease-in;
    -webkit-transition: all 500ms ease-in;
    -moz-transition: all 500ms ease-in;
    -ms-transition: all 500ms ease-in;
    -o-transition: all 500ms ease-in;
}

.btn-green:focus {
    background: #75d485 !important;
    border: 2px solid #32663b;
}


/*en el focus  quiero que mantega sin hover */


/**/

.btn-orange {
    background: #ff9822;
}

.btn-orange:hover {
    box-sizing: border-box;
    background: #ffa947 !important;
    border: 2px solid #ee8002 !important;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    transition: all 500ms ease-in;
    -webkit-transition: all 500ms ease-in;
    -moz-transition: all 500ms ease-in;
    -ms-transition: all 500ms ease-in;
    -o-transition: all 500ms ease-in;
}

.btn-orange:focus {
    background: #e07902 !important;
    border: 2px solid #854701;
}


/*botones blue*/

.btn-blue {
    background: #339be0;
}

.btn-blue:hover {
    background: #2a84c0 !important;
    border: 2px solid #236d9e !important;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    transition: all 500ms ease-in;
    -webkit-transition: all 500ms ease-in;
    -moz-transition: all 500ms ease-in;
    -ms-transition: all 500ms ease-in;
    -o-transition: all 500ms ease-in;
}

.btn-blue:focus {
    background: #246c9c !important;
    border: 2px solid #275879;
}