* {
    margin: 0px;
    padding: 0px;
}

body {
    width: 100vw;
    height: 100vh;
}

.conten-grd {
    width: 90%;
    padding: 10px;
    margin: auto;
    display: grid;
    background-color: chocolate;
}


/*MODULOS  FIJOS HEADER  CUERPO  SIDEBAR FOOTER*/

.grd-header-1 {
    grid-template-columns: auto;
    background-color: blueviolet;
}


/* COLUMNAS DE GRID*/

.gri-col-7 {
    grid-template-columns: auto auto auto auto auto auto auto;
}

.gri-col-6 {
    grid-template-columns: auto auto auto auto auto auto;
}

.gri-col-5 {
    grid-template-columns: auto auto auto auto auto;
}

.gri-col-4 {
    grid-template-columns: auto auto auto auto;
}

.gri-col-3 {
    grid-template-columns: auto auto auto;
}

.gri-col-2 {
    grid-template-columns: auto auto;
}

.gri-col-1 {
    grid-template-columns: auto;
}


/*SEPARACION*/

.grd-gap {
    grid-gap: 10px
}


/*item*/

.item {
    border: 1px solid black;
    background-color: cadetblue;
    padding: 20px 0;
    font-size: 30px;
    text-align: center;
}


/*@media (max-width:800px) {
    .grd-col-3 {
        grid-template-columns: auto;
    }
}*/