* {
    margin: 0px;
    padding: 0px;
}

body {
    width: 100vw;
    height: 100vh;
}

.conten-grd {
    width: 90%;
    padding: 10px;
    margin: auto;
    display: grid;
    background-color: chocolate;
}


/*MODULOS  FIJOS HEADER  CUERPO  SIDEBAR FOOTER*/

.grd-header-1 {
    grid-template-columns: auto;
    background-color: blueviolet;
}


/* COLUMNAS DE GRID*/

.gri-col-7 {
    grid-template-columns: auto auto auto auto auto auto auto;
}

.gri-col-6 {
    grid-template-columns: auto auto auto auto auto auto;
}

.gri-col-5 {
    grid-template-columns: auto auto auto auto auto;
}

.gri-col-4 {
    grid-template-columns: auto auto auto auto;
}

.gri-col-3 {
    grid-template-columns: auto auto auto;
}

.gri-col-2 {
    grid-template-columns: auto auto;
}

.gri-col-1 {
    grid-template-columns: auto;
}


/*SEPARACION entre columnas y filas */

.grd-gap-10 {
    grid-gap: 10px
}

.grd-gap-5 {
    grid-gap: 5px;
}


/*item*/

.item {
    border: 1px solid black;
    background-color: cadetblue;
    padding: 20px 0;
    font-size: 30px;
    text-align: center;
}


/*el uso del espacio de lineas entre columna */

.espcol-1x3 {
    grid-column-start: 1;
    grid-column-end: 3;
}


/*el uso del espacio de lineas entre filas */

.esprow-1x3 {
    grid-row-start: 1;
    grid-row-end: 3;
}

.esprow-1x4 {
    grid-row: 1/ 4;
}


/*EL USO DE LAS AREAS */

@media (max-width:1000px) {
    .gri-col-4,
    .gri-col-5,
    .gri-col-6,
    .gri-col-7 {
        grid-template-columns: auto auto;
    }
}

@media (max-width:800px) {
    .gri-col-4,
    .gri-col-2,
    .gri-col-3,
    .gri-col-5,
    .gri-col-6,
    .gri-col-7 {
        grid-template-columns: auto;
    }
}