table {
    padding: 10px;
    position: relative;
    border: 1px solid black;
    border-collapse: collapse;
    width: 100%;
    max-width: 100%;
    margin: auto;
}

th {
    background: black;
    color: white;
}

tr:nth-child(even) {
    background-color: #e2e0e2;
}

tr:nth-child(even):hover {
    background-color: #cfcfcf;
    color: #000;
}

tr:nth-child(odd) {
    background: white;
}

th,
td {
    text-align: center;
    padding: 10px;
}

.responsives {
    overflow-x: auto;
}