/*MODAL BASICO*/

.jm-modal-df {
    background-color: rgb(255, 255, 255);
    display: grid;
    width: 40%;
    height: 500px;
    padding: 1.25rem;
    margin: 20% auto;
    position: relative;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.modal-md {
    width: 50%;
}

.modal-lg {
    width: 90%;
}


/*sombras en la targetas modal */

.jm-shadow-5 {
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.534);
}

.jm-shadow-10 {
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.534);
}

.jm-shadow-15 {
    box-shadow: 15px 15px 15px rgba(0, 0, 0, 0.534);
}

.jm-shadow-20 {
    box-shadow: 20px 20px 20px rgba(0, 0, 0, 0.534);
}


/*con border reedondeado */

.modal-rd-10 {
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.modal-rd-15 {
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
}

.modal-rd-20 {
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}


/*FILTROS QUE FUNCIONA SOLO EN LOS NAVEGADORES CROME Y SAFARI */

.jm-filter-blur {
    backdrop-filter: blur(0.8);
    -webkit-backdrop-filter: blur(0.8);
}

.jm-filter-bn {
    backdrop-filter: grayscale(100%);
    -webkit-backdrop-filter: grayscale(100%);
}


/**COLORES DE PREFONDO DEL MODAL */

.modal-prefon-blue {
    background-color: rgba(62, 130, 255, 0.3) !important;
}

.modal-prefon-green {
    background-color: rgba(96, 255, 144, 0.3)!important;
}

.modal-prefon-orange {
    background-color: rgba(255, 167, 5, 0.3);
}


/** efectos  blend mode efecto impirementarl */

.jm-blend {
    background-blend-mode: hard-light;
    background-image: linear-gradient(to right, rgba(98, 255, 247, 0.438) 0%, rgba(255, 217, 0, 0.39) 100%), url('/img/jose.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

.modal-df {
    background-color: rgb(0, 0, 0, 0.3);
    /*por default*/
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: 0;
    z-index: 100;
    pointer-events: none;
    transition: all 500ms ease;
    -webkit-transition: all 500ms ease;
    -moz-transition: all 500ms ease;
    -ms-transition: all 500ms ease;
    -o-transition: all 500ms ease;
}

#mimodal:target {
    opacity: 1;
    pointer-events: auto;
}